body{
    font-family: Arial, Helvetica, sans-serif;
}

.one::after{
    content:"";
    background-color: rgb(247, 139, 139);
    width: 200px;
    height: 200px;
    display: block;
}


i{
    font-size: 50px;
    letter-spacing: 20px;
}

.triangle{
width: 0;
height: 0;
/* background-color: red; */

margin: 5% auto;

border-bottom: 100px solid black;
border-left: 50px solid rgb(245, 150, 150);
border-right: 50px solid rgb(243, 164, 164);
}

.decor::before{

    content: "";
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 2px;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-left: 18px solid purple;
}

.decor::after{
    content: "";
    height: 10px;
    width: 200px;
    background-color: purple;
    display: block;
}

.square{
    margin: 5% auto;
    width: 200px;
    height: 200px;
    background-color: rgb(107, 74, 107);
        
}
.square:hover{
    background-color: rgb(102, 36, 163);
    transition: all 5s 2s;
    border: 10px solid black;
}

.square1{
    margin: 5%;
    width: 200px;
    height: 200px;
    background-color: rgb(168, 218, 238);
    
    
}

.square1:hover{
    transition-duration: 4s;
    transition-timing-function: ease;
    transition-delay: 2s;


    transition: all 2s;
    transform: translate(100px, -100px) rotate(700deg) scale(1.6);
}
.clip1{
    height: 400px;
    width: 400px;
    margin: 100px auto;

    background-image: url("//unsplash.it/400");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    clip-path: polygon(86% 7%, 34% 8%, 2% 36%, 16% 58%, 43% 76%, 68% 55%, 88% 39%, 11% 87%, 63% 100%, 89% 79%, 71% 9%, 86% 21%, 33% 53%, 93% 28%, 94% 51%, 29% 64%, 20% 45%, 42% 30%, 63% 75%, 78% 66%, 96% 61%, 97% 16%, 9% 74%, 10% 52%, 20% 74%, 9% 13%, 87% 96%);
    
}

.clip1:hover{
    transition: all 2s;

    transform: translate(100px, -100px) rotate(700deg) scale(1.6);

}